*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }

.heading-1 {
  font-family: "PT Serif", serif;
  font-weight: 700;
  font-size: 3.6rem; }

.heading-2 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 1.8rem;
  text-transform: uppercase; }

.card {
  display: grid;
  grid-template-columns: 25rem min-content;
  grid-template-rows: 10rem min-content;
  column-gap: .5rem; }
  .card__figure {
    grid-row: 1 / 3;
    display: flex;
    flex-direction: column;
    height: 40rem; }
  .card__img {
    width: 100%;
    height: auto;
    margin-bottom: 1rem; }
  .card__role {
    grid-row: 1 / 3;
    font-family: "PT Serif", serif;
    font-size: 1.2rem;
    font-weight: 400;
    text-transform: uppercase;
    writing-mode: vertical-rl;
    text-orientation: mixed; }
  .card__name {
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
    font-weight: 600; }
  @media only screen and (min-width: 34.94em) and (max-width: 52.9em) {
    .card:nth-child(2n) > * {
      grid-row: 2 / 3; } }
  @media only screen and (min-width: 52.89em) {
    .card:nth-child(3n + 2) > * {
      grid-row: 2 / 3; } }

.container {
  padding: 5rem 0;
  margin: 0 auto;
  max-width: 100rem;
  display: grid; }
  @media only screen and (max-width: 62.5em) {
    .container {
      padding: 5rem 2rem; } }

.team {
  margin-bottom: 5rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
  row-gap: 2.5rem; }
  .team__info-title {
    margin-bottom: 1rem; }
  .team__info-description {
    font-family: "Poppins", sans-serif;
    font-size: 1.8rem;
    font-weight: 400; }

.cards {
  padding: 7.5rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  column-gap: 2rem;
  justify-items: center; }
  @media only screen and (max-width: 52.9em) {
    .cards {
      padding: 1rem 0; } }

.footer {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1.4rem;
  text-align: center;
  color: #A9A9A9; }
  .footer p {
    margin-bottom: 2rem; }
